
:root {
    background-color: black;
    --border-gradient: linear-gradient(to bottom, white, black) 1;
    --color1: black;
    --color2: white;
    --color3: gray;
}


body{
    margin: 0;
    background: var(--bg-gradient) fixed;
    color: var(--color1); 
}


button {
    position: absolute;
    top: 60px;
    color: black; 
    border: none;
    cursor: pointer; 
    z-index: 100;
    background-color: transparent;
    font-size: 30px;
    font-family: "Times New Roman";
    animation: showtext 3s forwards;
}


/* The "menu" button, or the dropdown title */
.droptitle {
    right: 65px;
  }

/* The dropdown  content layout*/
.dropdown-content {
display: none;
position: absolute;
min-width: 160px;
z-index: 1;
right: -40px;
top: 95px;
}


/* The dropdown content decorations */
.dropdown-content a {
color: rgb(55, 55, 55);
padding: 5px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {color: #ff0000; text-decoration: underline}
.dropdown:hover .dropdown-content {display: block;}


@keyframes showtext {
    0% {
        opacity: 0;}
    
    75% {
        opacity: 0;
    }

    100% {
        opacity: 1}
}


#nametag {
    left: 65px;
    font-family: "comic sans ms";
    color: rgb(244, 28, 132);
}



.title {
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    backdrop-filter: blur(5px);
    margin-bottom: 900px;
    overflow: hidden;
    background: linear-gradient(to bottom, white, black);
    color:white;
}



h1 {
    font-size: 100px;
    margin-left: 20px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    opacity: 20;
    animation: reveal 0.5s steps(22) backwards;
    animation-delay: 2s;
    font-family: "Didot";
    font-weight: bold;
}

h2 {
    color: white;

}

#headimg {
    width: 120px;
    height: 120px;
    transform-origin: center;
    animation: glideImage 3s;
    animation-delay: 0.3s;
    filter: invert(100%);
    z-index: 2;
}




@keyframes reveal {
    0% {
        width: 0%;}
    100% {
        width: 57%;}
}


@keyframes glideImage {
    0% {
        transform: translateX(0%);
    }
        
    25% {
        transform: translateX(0%);
        scale: 20%;
        rotate: 0deg;
    }

    50% {
        transform: translateX(40%) rotate(180deg);
        height: 500px;
        width: 500px;}

    100% {
        transform: translateX(0px) rotate(-360deg);
        width: 120px;}}
  

.section {
    text-align: center;
    color: white;
    margin-bottom: 1250px;
}

.section img {
    border-radius: 10px;
    opacity: 0;
    animation: fadeInLeft 2s forwards;
    width: 600px;
    border: 2px solid white;
}

