.header {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    margin-bottom: 500px;
    overflow: hidden;
}

h1 {
    font-size: 100px;
    margin-left: 20px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    opacity: 20;
    animation: revealText 1s steps(22) backwards;
    animation-delay: 1s;
}

#headimg {
    width: 600px;
    animation-delay: 1s;
    animation: glideImage 1.5s;
}

img {
    width: 600px;
}

#headimg {
    width: 120px;
    height: 120px;
    z-index: 2;
}

@keyframes revealText {
    0% {
        width: 0;}
    100% {
        width: 57%;}
}

@keyframes glideImage {

    0% {
        transform: translateX(0%);
        width: 100px;}
        
    25% {
        transform: translateX(0%);
        width: 100px;}
        
    60% {
        transform: translateX(40%);
        height: 500px;
        width: 500px;}

    100% {
        transform: translateX(0%);
        width: 100px;}




 